@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@500&display=swap');
body {
    position: relative;
    font-family: 'Domine', serif;
  }
  
  img {
    display: unset;
  }
  .thumbnail {
    position: relative;
    display: inline-block;
  }
  
  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: bold;
  }
  #Skills{
    text-align: center;
  }
  .centered {
    font-size: 4vw;
  }
  #Skills{
    padding-top: 250px;
  }
  #About,
  #Projects,
  #Contact {
    padding-top: 100px;
  }
  #contactlist a{
    text-decoration: none;
  }
  
  #aboutcontainer {
    padding-left: 5%;
    display: flex;
    align-items: stretch;
    margin-top: 7%;
    margin-bottom: 12%;
  }
  
  #aboutext {
    font-size: 2.5vw;
    margin: auto;
    font-family: 'Dancing Script', cursive;
  }
  
  .mycol {
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: 20px;
    transition: 0.5s;
    margin-top: 20px;
    height: 200px;
    width: 335px;
  }
  
  #heading {
    font-size: 25px;
    text-decoration: none;
  }
  #heading{
    pointer-events: none;
  }
  
  
  .row {
    height: 400px;
  }
  
  .skillscontainer {
    margin-top: 7%;
    margin-bottom: 12%;
  }
  
  .effect :hover {
    background-color: rgb(209, 213, 215);
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #e8dbfc , #f8f9d2);
    transform: scale(1.1);
    color: rgb(0, 0, 0);
  }
  
  #projectlist{
    margin: 30px 10vw 30px 100px;
  }
  #Projects, #Contact{
      margin-left: 100px;
  }
  
  .projectbutton {
    float: right;
    width: 125px;
  }
  #logos{
    display:unset;
    margin-left: 30px;
  }
  .static {
    position:absolute;
    background: white;
  }
  
  .static:hover {
    opacity:0;
  }
  .logos a{
    text-decoration: none;
    padding-left: 10px;
  }
  .logos img{
    margin-left: 50px;
  }
  .footer{
    background-color: rgb(45, 32, 32);
    color: aliceblue;
    padding: 20px 35%;
    text-align-last: center;
    margin-top:100px;
  }
  #twitter, #linkedin, #gmail, #instagram{
    margin-top: 30px;
    margin-left: 40px;
    float: left;
    margin-block-start: auto;
  }
  .disablehover{
    height: 450px;
  }
  .cardmargin{
    margin: 100px;
  }
  .sizing{
    width: 830px;
  }
  .contactlogos{
    height: auto;
  }
  
  @media screen and (max-width: 480px) {
    html, body{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .skillscontainer {
      margin-top: 7%;
      margin-bottom: 12%;
      height: 1200px;
    }
    #Contact{
      padding-top: 170px;
    }
    .row{
      width: 90vw;
    }
    h2{
      margin-left: 20px;
    }
    #Skills{
      text-align: center;
      margin: 0px;
    }
    #Projects{
      margin-left: 20px !important;
    }
    .h-100{
      height: 70% !important;
    }
    .mycol {
    top: 50%;
    left: 50%;
    text-align: center;
    transition: 0.5s;
    margin-top: 20px;
    width: 317px;
    margin-left: 31px;
    }
    #projectlist{
      margin: 10px 50px 10px 20px;
    }
    #Contact{
      margin-left: 20px;
      padding-top: 176px !important;
    }
    .logos img,a{
      margin-left: 37px;
    }
    #contactlist{
      margin-left: 20px;
    }
    .footer{
      margin-top: 30px;
    }
    #align{
      margin-left: 15px;
    }
    .disablehover{
      height: 750px;
      margin-left: 0px;
    }
    .cardmargin{
      margin-bottom: 20px;
      margin-left: 0px;
      margin-top: 20px;
    }
    .disablehover a{
      margin-left: 8px;
    }
    #twitter, #linkedin, #gmail, #instagram{
      margin-top: 30px;
      margin-left: -37px;
      float: left;
      margin-block-start: auto;
    }
    .myimage{
      justify-content: center;
    }
    #About,
  #Skills,
  #Projects {
    padding-top: 52px !important;
  }
  }
  @media screen and (max-width: 1290px) {
    #About,
  #Skills,
  #Projects,
  #Contact {
    padding-top: 350px;
  }
  }
  @media screen and (max-width: 726px) {
    #Projects {
    padding-top: 1230px;
  }
  .cardmargin {
    margin: 0px;
}
}
@media screen and (max-width: 991px) {
.cardmargin {
  margin: 29px;
  align-items: center;
}
}
.container-me{
  width: 100%;
  height: 644px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#item1{
  width: 350px;
  height: 350px;
}
#item2{
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  margin-left: 20px;
}
@media screen and (max-width: 480px) {
  #item1{
    width: 170px;
    height: 170px;
  }
  #item2{
    font-size: 25px;
    margin-top: -240px;
  }
  .container-me{
    margin-top: -120px;
  }
}
